.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}

.radio-title {
    font-size: 50px; /* Atur ukuran font sesuai preferensi Anda */
    color: #2f78ff; /* Atur warna teks sesuai preferensi Anda */
    text-transform: uppercase; /* Membuat teks menjadi huruf besar semua */
    font-weight: bold; /* Menjadikan teks tebal */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Tambahkan bayangan teks */
}

.large-icon {
    font-size: 50px; /* Atur ukuran font sesuai preferensi Anda */
    margin: 20px; /* Atur jarak antara tombol */
}

#audio-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#controls-left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.settings {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.settings-menu {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    background: #fff;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1;
}

.settings:hover .settings-menu {
    display: block;
}

#genre-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Atur sesuai kebutuhan */
}