.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}

.radio-title {
    font-size: 50px; /* Atur ukuran font sesuai preferensi Anda */
    color: #2f78ff; /* Atur warna teks sesuai preferensi Anda */
    text-transform: uppercase; /* Membuat teks menjadi huruf besar semua */
    font-weight: bold; /* Menjadikan teks tebal */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Tambahkan bayangan teks */
}

audio {
    width: 100%;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

audio::-webkit-media-controls-panel{
    background-color: rgb(101, 141, 253);
}
audio::-webkit-media-controls-play-button{
    background-color: rgb(233, 240, 242);
    border-radius: 50%;
}
audio::-webkit-media-controls-current-time-display{
    color: #ffffff;
}
audio::-webkit-media-controls-time-remaining-display{
    color: #ffffff;
}
audio::-webkit-media-controls-timeline{
    border-radius: 40px;
    background-color: rgb(162, 179, 255)
}
audio::-webkit-media-controls-volume-slider{
    background-color: rgb(112, 126, 255);
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
audio::-webkit-media-controls-mute-button{
    background-color: rgb(162, 192, 255);
    border-radius: 50%;
}